In [ ]:
pip install --prefix /usr/local joblib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (1.2.0)

**Objective:Making a model based on logistic regression and predicting values based on it.The dataset used for it is "Credit card frad detection dataset"**

---

In [48]:
#importing all the necessary libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import joblib

In [11]:
#loading dataset 
credit_card_data=pd.read_csv('/creditcard.csv')
credit_card_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13949,24754,1.252924,-0.182189,-0.802716,-0.210981,1.916713,3.643624,-0.778711,0.818295,1.706962,...,-0.497088,-1.211285,0.043809,0.964159,0.442030,0.261483,-0.051402,0.005112,23.74,0.0
13950,24756,-0.346979,-2.103284,-0.685061,1.961605,-0.401125,0.473632,1.133816,-0.256528,0.893409,...,0.359662,-0.316275,-0.864259,-0.279881,0.491802,-0.353996,-0.149931,0.129795,794.20,0.0
13951,24759,-6.053652,-5.988723,0.810413,-0.011811,1.308135,-0.590803,-0.725838,-0.234840,1.624646,...,-0.771970,1.474668,3.176363,-0.302410,0.052529,-0.373871,-0.700463,2.508443,60.00,0.0
13952,24759,1.169121,-1.284945,0.032717,-0.681670,0.660598,4.412578,-1.913115,1.076592,1.501230,...,-0.557596,-0.882435,-0.041523,0.975445,0.297229,0.550515,0.015029,0.032067,90.00,0.0
13953,24759,-6.917152,5.854171,-1.652458,-1.488884,-0.833891,-0.344418,0.393789,0.379968,6.133597,...,-1.404681,-1.124694,0.174333,-0.528234,0.990685,-0.035875,1.071374,-0.168831,NaN,NaN

In [12]:
#dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13954 entries, 0 to 13953
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    13954 non-null  int64
 1   V1      13954 non-null  float64
 2   V2      13954 non-null  float64
 3   V3      13954 non-null  float64
 4   V4      13954 non-null  float64
 5   V5      13954 non-null  float64
 6   V6      13954 non-null  float64
 7   V7      13954 non-null  float64
 8   V8      13954 non-null  float64
 9   V9      13954 non-null  float64
 10  V10     13954 non-null  float64
 11  V11     13954 non-null  float64
 12  V12     13954 non-null  float64
 13  V13     13954 non-null  float64
 14  V14     13954 non-null  float64
 15  V15     13954 non-null  float64
 16  V16     13954 non-null  float64
 17  V17     13954 non-null  float64
 18  V18     13954 non-null  float64
 19  V19     13954 non-null  float64
 20  V20     13954 non-null  float64
 21  V21     13954 non-null  float64
 22  V22     13954 non-null  float64
 23  V23     13954 non-null  float64
 24  V24     13954 non-null  float64
 25  V25     13954 non-null  float64
 26  V26     13954 non-null  float64
 27  V27     13954 non-null  float64
 28  V28     13954 non-null  float64
 29  Amount  13953 non-null  float64
 30  Class   13953 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 3.3 MB

In [13]:
#checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    1
Class     1
dtype: int64

In [14]:
#in the dataset class label for legit or legal transaction is marked as '0' and illegal is marked as '1'
credit_card_data['Class'].value_counts()

0.0    13897
1.0       56
Name: Class, dtype: int64

**So,we can see that dataset is highly imbalanced as number of entries for legal transaction is 187892 and that of illegal is 368 so we need to make a sample of uniform dataset of both entries almost equal**

In [15]:
#seperating the dataset for analysis
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [16]:
#printing both legit and fraud
print(legit.shape)
print(fraud.shape)

(13897, 31)
(56, 31)

In [17]:
#statistical measures of the data
legit.Amount.describe()

count    13897.000000
mean        63.773909
std        177.164503
min          0.000000
25%          5.770000
50%         15.900000
75%         52.370000
max       7712.430000
Name: Amount, dtype: float64

In [18]:
fraud.Amount.describe()

count      56.000000
mean       90.815893
std       310.308450
min         0.000000
25%         1.000000
50%         1.000000
75%         1.025000
max      1809.680000
Name: Amount, dtype: float64

In [19]:
#compare both the values of fraud and legit
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,10111.481255,-0.217093,0.266252,0.887227,0.276789,-0.107510,0.136745,-0.131462,-0.020385,1.005460,...,0.020758,-0.068686,-0.158230,-0.034834,0.013065,0.117928,0.034349,0.009565,0.002329,63.773909
1.0,12262.107143,-4.727948,4.660436,-9.328536,6.783464,-2.890388,-2.030360,-6.578337,1.028374,-2.981468,...,0.453283,0.116896,0.048132,-0.225526,-0.452514,-0.124184,0.333325,0.793484,-0.046177,90.815893

**So the data is highly imbalanced so we are taking random values for 368 legit dataset as fraud contains 368**

In [20]:
#sample space for legit dataset
legit_sample=legit.sample(n=368)

**Now concatenating both the datasets of fraud and legit_sample**

In [21]:
#Concatenating both dataset
new_dataset=pd.concat([legit_sample,fraud],axis=0)
new_dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
13373,23619,-0.204465,1.293748,1.916805,1.740899,-0.024920,-0.391609,0.527470,-0.185174,0.384260,...,-0.273165,-0.502758,-0.023665,0.310993,-0.373518,-0.447019,0.140223,0.136777,9.99,0.0
1290,1000,1.083405,0.034321,0.472301,1.346392,-0.310584,0.003423,-0.098663,0.186340,0.203682,...,-0.043733,-0.014473,-0.045020,0.211587,0.559625,-0.339989,0.025942,0.007354,20.43,0.0
2090,1610,-2.925333,2.528043,-0.312654,-1.007822,-1.175815,-0.692042,-0.607308,1.560075,0.650713,...,-0.230773,-0.628272,0.106175,-0.037838,0.119484,0.334822,0.537722,0.342261,1.00,0.0
7173,9402,-2.625941,0.626287,1.795281,0.038042,-0.164740,-0.693733,0.456890,-0.412615,3.024210,...,-0.507597,0.007267,0.356154,0.706403,0.243085,0.273616,-0.162196,0.397860,0.01,0.0
7505,10247,1.062773,-0.093531,1.485816,1.439849,-0.880143,0.484425,-0.923960,0.357869,2.100503,...,-0.137946,-0.000251,0.068980,0.124386,0.218100,-0.442725,0.050931,0.016670,4.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11880,20451,-15.819179,8.775997,-22.804686,11.864868,-9.092361,-2.386893,-16.560368,0.948349,-6.310658,...,-2.350634,1.036362,1.136051,-1.043414,-0.108923,0.657437,2.136424,-1.411945,1.00,1.0
12070,20931,-16.367923,9.223692,-23.270631,11.844777,-9.462037,-2.450444,-16.925152,1.384208,-6.287736,...,-2.343674,1.004602,1.188212,-1.047184,-0.035573,0.664900,2.122796,-1.416741,1.00,1.0
12108,21046,-16.917468,9.669900,-23.736443,11.824990,-9.830548,-2.514829,-17.290657,1.820408,-6.264903,...,-2.336111,0.972755,1.241866,-1.051086,0.038009,0.672317,2.108471,-1.421243,1.00,1.0
12261,21419,-17.467710,10.114816,-24.202142,11.805469,-10.198046,-2.579938,-17.656788,2.256902,-6.242149,...,-2.328024,0.940830,1.296817,-1.055104,0.111792,0.679695,2.093541,-1.425491,1.00,1.0
12369,21662,-18.018561,10.558600,-24.667741,11.786180,-10.564657,-2.645681,-18.023468,2.693655,-6.219464,...,-2.319479,0.908839,1.352904,-1.059222,0.185751,0.687037,2.078081,-1.429517,1.00,1.0

In [22]:
new_dataset['Class'].value_counts()

0.0    368
1.0     56
Name: Class, dtype: int64

**Thus now the dataset is a good fit for testing and training**

In [23]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,10262.907609,-0.163015,0.330037,0.950841,0.363333,-0.221138,0.151897,-0.156381,-0.019157,1.059591,...,0.006013,-0.066355,-0.138279,-0.008933,0.019858,0.149355,0.006953,0.021743,0.015688,55.658668
1.0,12262.107143,-4.727948,4.660436,-9.328536,6.783464,-2.890388,-2.030360,-6.578337,1.028374,-2.981468,...,0.453283,0.116896,0.048132,-0.225526,-0.452514,-0.124184,0.333325,0.793484,-0.046177,90.815893

**Splitting the dataset into "Features and "Targets"**

In [24]:
#Splitting the dataset into "Features and "Targets"
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [25]:
print(X)

        Time         V1         V2         V3         V4         V5        V6  \
13373  23619  -0.204465   1.293748   1.916805   1.740899  -0.024920 -0.391609
1290    1000   1.083405   0.034321   0.472301   1.346392  -0.310584  0.003423
2090    1610  -2.925333   2.528043  -0.312654  -1.007822  -1.175815 -0.692042
7173    9402  -2.625941   0.626287   1.795281   0.038042  -0.164740 -0.693733
7505   10247   1.062773  -0.093531   1.485816   1.439849  -0.880143  0.484425
...      ...        ...        ...        ...        ...        ...       ...
11880  20451 -15.819179   8.775997 -22.804686  11.864868  -9.092361 -2.386893
12070  20931 -16.367923   9.223692 -23.270631  11.844777  -9.462037 -2.450444
12108  21046 -16.917468   9.669900 -23.736443  11.824990  -9.830548 -2.514829
12261  21419 -17.467710  10.114816 -24.202142  11.805469 -10.198046 -2.579938
12369  21662 -18.018561  10.558600 -24.667741  11.786180 -10.564657 -2.645681

              V7        V8        V9  ...       V20       V21       V22  \
13373   0.527470 -0.185174  0.384260  ...  0.125305 -0.273165 -0.502758
1290   -0.098663  0.186340  0.203682  ... -0.240701 -0.043733 -0.014473
2090   -0.607308  1.560075  0.650713  ...  0.380998 -0.230773 -0.628272
7173    0.456890 -0.412615  3.024210  ... -0.282273 -0.507597  0.007267
7505   -0.923960  0.357869  2.100503  ... -0.298932 -0.137946 -0.000251
...          ...       ...       ...  ...       ...       ...       ...
11880 -16.560368  0.948349 -6.310658  ...  0.992279 -2.350634  1.036362
12070 -16.925152  1.384208 -6.287736  ...  0.993585 -2.343674  1.004602
12108 -17.290657  1.820408 -6.264903  ...  0.996745 -2.336111  0.972755
12261 -17.656788  2.256902 -6.242149  ...  1.001519 -2.328024  0.940830
12369 -18.023468  2.693655 -6.219464  ...  1.007703 -2.319479  0.908839

            V23       V24       V25       V26       V27       V28  Amount
13373 -0.023665  0.310993 -0.373518 -0.447019  0.140223  0.136777    9.99
1290  -0.045020  0.211587  0.559625 -0.339989  0.025942  0.007354   20.43
2090   0.106175 -0.037838  0.119484  0.334822  0.537722  0.342261    1.00
7173   0.356154  0.706403  0.243085  0.273616 -0.162196  0.397860    0.01
7505   0.068980  0.124386  0.218100 -0.442725  0.050931  0.016670    4.99
...         ...       ...       ...       ...       ...       ...     ...
11880  1.136051 -1.043414 -0.108923  0.657437  2.136424 -1.411945    1.00
12070  1.188212 -1.047184 -0.035573  0.664900  2.122796 -1.416741    1.00
12108  1.241866 -1.051086  0.038009  0.672317  2.108471 -1.421243    1.00
12261  1.296817 -1.055104  0.111792  0.679695  2.093541 -1.425491    1.00
12369  1.352904 -1.059222  0.185751  0.687037  2.078081 -1.429517    1.00

[424 rows x 30 columns]

In [26]:
print(Y)

13373    0.0
1290     0.0
2090     0.0
7173     0.0
7505     0.0
        ...
11880    1.0
12070    1.0
12108    1.0
12261    1.0
12369    1.0
Name: Class, Length: 424, dtype: float64

**Splitting the dataset into testing and training**

In [27]:
#Splitting the dataset into testing and training
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [28]:
print(X.shape,X_train.shape,X_test.shape)

(424, 30) (339, 30) (85, 30)

**Model Training**

**Logistic Regression**

In [29]:
model=LogisticRegression()

**Training the model with logistic regression on the training data**

In [31]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

**Model Evaluation :Measuring the accurracy of the model**

In [32]:
joblib.dump(model,'credit-card-fraud-detection.joblib')

['credit-card-fraud-detection.joblib']

In [33]:
#Measuring the accurracy of the model using accuracy_score on the training dataset
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [34]:
print('Accuary of the training dataset is : ',training_data_accuracy)

Accuary of the training dataset is :  0.9941002949852508

**Thus we can see our accuracy score is 99%(apporx.) that means the prediction will be around 99% accurate so thus it concludes that our sampling of the dataset is also fine**

**Now, measuring the accurracy of the model using accuracy_score on the testing dataset**

In [35]:
#Measuring the accurracy of the model using accuracy_score on the testing dataset
X_test_prediction=model.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [ ]:
print('Accuary of the testing dataset is : ',testing_data_accuracy)

Accuary of the testing dataset is :  0.9391891891891891

**Thus our testing dataset is also having good accuracy score of 94% so predicting would be more accurate**

In [36]:
predicting_model=joblib.load('/content/credit-card-fraud-detection.joblib')
predictions=predicting_model.predict([[167543,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234]])
print(predictions)

[1.]

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

**Thus you can see that the model has now predicting when i entered cretain values ,and the prediction was that the particular transaction is fraud or can say its NOT LEGIT(1)**

In [37]:
from sklearn.tree import DecisionTreeClassifier

In [38]:
model_dtc=DecisionTreeClassifier()

In [39]:
model_dtc.fit(X_train, Y_train)

DecisionTreeClassifier()

In [40]:
joblib.dump(model_dtc,'credit-card-fraud-detection-dtc.joblib')

['credit-card-fraud-detection-dtc.joblib']

In [41]:
#Measuring the accurracy of the model using accuracy_score on the training dataset
X_train_prediction_dtc=model_dtc.predict(X_train)
training_data_accuracy_dtc=accuracy_score(X_train_prediction_dtc,Y_train)

In [43]:
print('Accuary of the training dataset using decision tree classifier is : ',training_data_accuracy_dtc)

Accuary of the training dataset using decision tree classifier is :  1.0

**Thus we can see our accuracy score is 100% that means the prediction will be around 100% accurate so thus it concludes that our sampling of the dataset is also fine**

**Now, measuring the accurracy of the model using accuracy_score on the testing dataset**

In [57]:
#Measuring the accurracy of the model using accuracy_score on the testing dataset
X_test_prediction_dtc=model_dtc.predict(X_test)
testing_data_accuracy_dtc=accuracy_score(X_test_prediction_dtc,Y_test)

In [58]:
print('Accuary of the testing dataset using decision tree classifier is : ',testing_data_accuracy)

Accuary of the testing dataset using decision tree classifier is :  0.9882352941176471

**Thus our testing dataset is also having good accuracy score of 98% so predicting would be more accurate**

In [59]:
predicting_model_dtc=joblib.load('/content/credit-card-fraud-detection-dtc.joblib')
predictions=predicting_model.predict([[167543,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234]])
print(predictions)

[1.]

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

**Thus you can see that the model has now predicting when i entered cretain values ,and the prediction was that the particular transaction is fraud or can say its NOT LEGIT(1)**

In [50]:
from sklearn.ensemble import RandomForestClassifier

In [52]:
model_rfc=RandomForestClassifier()

In [53]:
model_rfc.fit(X_train, Y_train)

RandomForestClassifier()

In [54]:
joblib.dump(model_dtc,'credit-card-fraud-detection-rfc.joblib')

['credit-card-fraud-detection-rfc.joblib']

In [61]:
#Measuring the accurracy of the model using accuracy_score on the training dataset
X_train_prediction_rfc=model_rfc.predict(X_train)
training_data_accuracy_rfc=accuracy_score(X_train_prediction_rfc,Y_train)

In [62]:
print('Accuary of the training dataset using Random Forest Classifier is : ',training_data_accuracy_rfc)

Accuary of the training dataset using Random Forest Classifier is :  1.0

**Thus we can see our accuracy score is 100% that means the prediction will be around 100% accurate so thus it concludes that our sampling of the dataset is also fine**

**Now, measuring the accurracy of the model using accuracy_score on the testing dataset**

In [65]:
#Measuring the accurracy of the model using accuracy_score on the testing dataset
X_test_prediction_rfc=model_rfc.predict(X_test)
training_data_accuracy_rfc=accuracy_score(X_test_prediction_rfc,Y_test)

In [66]:
print('Accuary of the testing dataset using Random Forest Classifier is : ',testing_data_accuracy_rfc)

Accuary of the testing dataset using Random Forest Classifier is :  0.9882352941176471

**Thus our testing dataset is also having good accuracy score of 98% so predicting would be more accurate**

In [67]:
predicting_model_rfc=joblib.load('/content/credit-card-fraud-detection-rfc.joblib')
predictions=predicting_model.predict([[167543,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234,-0.234]])
print(predictions)

[1.]

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

**Thus you can see that the model has now predicting when i entered cretain values ,and the prediction was that the particular transaction is fraud or can say its NOT LEGIT(1)**